body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #222;
}

p {
	line-height: 1.8;
}

a {
	text-decoration: none;
}

.header {
	background-color: #131313;
	font-size: .85em;
}
.logo img {
	width: 110%;
}
.logo, .nav a {
	padding-top: 1em;
	padding-bottom: .2em;
}
.auth {
	text-align: right;
}
.header a {
	color: #fdfdfde6;
	display: inline-block;
	letter-spacing: 0.05em;
}
.nav {
	text-align: center;
}
.nav a {
	padding: 1.5em 1.7em;
}
.nav a:hover, .nav a.current {
	background-color: #121429;
	color: #009ada;
}
.auth a {
	border: 1px solid #fff;
	border-radius: 20px;
	width: 6em;
	font-weight: bold;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	padding: .4em .8em;
	margin-top: 1.7em;
	margin-right: .8em;
	color: #fff;
}
.auth a:last-of-type {
	margin-right: 0;
	background-color: #009ada;
	border-color: #009ada;
	color: #000;
}
.auth a:hover {
	background-color: #fff;
	color: #000;
}
.auth a:last-of-type:hover {
	background-color: #1EAEDB;
	border-color: #1EAEDB;
	color: #fff;
}

.jumbotron {
	height: 600px;
	background: linear-gradient(to right, hsl(221, 48.2%, 16.7%), #121429);
	/*background-color: linear-gradient(to right, #000, #fff);*/
	color: #fff;
}
.jumbotext p {
	font-size: 1.45em;
	word-spacing: .1em;
	margin-top: 8em;
}
.jumbotext .button {
	color: #000;
	background-color: #009ada;
	border-color: #009ada;
	border-radius: 20px;
}
.jumbotron img {
	width: 100%;
	display: inline-block;
	padding-top: 7em;
	padding-left: 0;
}

/* Info */
.info {
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: #fff;
}
.info .shield img {
	width: 100%;
}
.info .writeup h2 {
	font-size: 1.8em;
	font-weight: bold;
	color: #009ada;
}

.seperator {
	font-size: 1.15em;
	margin-top: 2.5em;
	border-top: 1px solid #009ada78;
	padding-top: 2.5em;
}
.seperator p {
	margin: 0;
}

.second-info {
	margin-top: 1.6em;
}
.second-info img {
	margin-bottom: .8em;
}
.second-info h3 {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: .5em;
}
.second-info p {
	font-size: .85em;
}

.create-account {
	border-left: 4px solid red;
	padding-left: .5em;
}
.create-account a {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: .9em;
}

/* Offers */
.offers {
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: #f5fcff;
}
.offers h2 {
	font-size: 1.8em;
	font-weight: bold;
	letter-spacing: .02em;
}
.offers h3 {
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .02em;
}
.offers p {
	font-size: .85em;
	width: 90%;
}
.offers img {
	float: left;
	width: 15%;
	margin-right: .8em;
	margin-left: .5em;
	margin-top: .5em;
}
.offers table {
	width: 100%;
	font-size: .75em;
}
.offers tbody {
	background-color: #fff;
}
.offers td, .offers th {
	padding: 0;
	margin: 0;
}
.offers td {
	padding-top: .25em;
	padding-bottom: .25em;
}
.offers th {
	padding-bottom: .5em;
	color: #999;
}
.offers .trader {
	color: #099ddb;
	font-weight: bold;
}
.offers .more-info {
	float: right;
	margin-right: .8em;
	padding-right: .5em;
	color: #099ddbb8;
	font-size: 1.2em;
}
.offers td:last-child {
	padding-top: .5em;
}

/* Features */
.features {
	background-color: #121429;
	color: #fff;
	padding-top: 3em;
	padding-bottom: 3em;
}
.features h2 {
	font-size: 1.2em;
	letter-spacing: .01em;
	margin-bottom: 1.8em;
}
.features img {
	width: 15%;
}
.features h3 {
	font-size: 1.1em;
	letter-spacing: .03em;
	color: #ffa883;
	margin-top: 1em;
}
.features p {
	font-size: .85em;
	letter-spacing: .04em;
}
.features a {
	display: inline-block;
}
.features .button {
	color: #000;
	background-color: #009ada;
	border-color: #009ada;
	border-radius: 20px;
}

/* Footer */
footer {
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: #f5fcff;
}
footer header {
	text-align: center;
}
footer h2 {
	font-size: 1.75em;
	font-weight: bold;
}
footer p {
	font-size: 1.1em;
}
footer .button {
	border-radius: 20px;
	margin-right: 1.25em;
}
footer .button:first-of-type {
	color: #000;
	background-color: #009ada;
	border-color: #009ada;
}
footer .button:last-of-type {
	color: #000;
	border-color: #000;
}
footer .button:last-of-type:hover {
	color: #fff;
	background-color: #000;
	border-color: #fff;
}

footer section {
	margin-top: 2.5em;
	border-top: 1px solid #009ada78;
	padding-top: 2.5em;
	padding-left: 5.5em;
	padding-right: 5.5em;
}
footer section ul {
	list-style: none;
}
footer h3 {
	font-size: .95em;
	font-weight: bold;
	letter-spacing: .05em;
	text-transform: uppercase;
	margin-top: .7em;
}
footer {
	color: #000;
	font-size: .85em;
}
footer a {
	color: #000;
}
footer p {
	font-size: 1em;
}
.social .links {
	margin-top: 1em;
}
.social .links li {
	display: inline-block;
	margin-right: 1em;
}
.platform h3 {
	color: #099ddb;
}
.support h3 {
	color: #ff3302;
}
.subscribe h3 {
	color: #feb18f;
}
footer input[type] {
	width: 100%;
	border-radius: 0;
	margin: 0;
}
footer input[type='email'] {
	border-bottom: none;
}
footer input[type='submit'] {
	color: #009ada;
	border-color: #009ada78;
}

/* MEDIA QUERIES */
@media (max-width: 970px) {
	.auth {
		text-align: right;
	}
	.auth a {
		font-size: .6em;
		margin-top: 1.7em;
		margin-right: 0;
	}
	.nav a {
		font-size: .8em;
	}

	.jumbotron {
		height: 440px;
	}
	.jumbotron img {
		width: 80%;
		text-align: left;
		padding: 4em 0;
	}
	.jumbotext p {
		font-size: 1.16em;
		margin-top: 6.7em;
	}
	footer section {
		padding-left: .5em;
		padding-right: .5em;
	}
	footer .social img:first-child {
		width: 80%;
	}
	footer .social .links li {
		margin: 0;
		margin-right: .5em;
	}
	.features a {
		font-size: .65em;
		padding: 0;
		padding-right: 1em;
		padding-left: 1em;
	}
}

@media (max-width: 736px) {
	.auth a {
		font-size: .48em;
		padding: .2em .4em;
	}
	.nav a {
		font-size: .58em;
		padding: 1.8em 1.8em;
	}
	.jumbotron p {
		margin-top: 5.5em;
	}
	.jumbotron img {
		padding-top: 5.5em;
	}
	.features a {
		font-size: .56em;
		padding: 0;
		padding-right: 1em;
		padding-left: 1em;
	}
}

@media (max-width: 550px) {
	.logo {
		padding-top: 1em;
		text-align: center;
		padding-bottom: 1em;
	}
	.logo img {
		width: 80%;
	}
	.nav a, .auth a {
		font-size: .9em;
		padding: .5em .5em;
		border: 1px solid #fff;
		border-radius: 5px;
		margin-right: .5em;
		margin-bottom: 1em;
		width: 12em;
	}
	.auth {
		text-align: center;
		margin: 0;
	}

	/* Jumbotron */
	.jumbotron {
		height: 16em;
	}
	.jumbotext {
		padding-top: 1.5em;
	}
	.jumbotext p {
		font-size: 1em;
		margin-top: .75em;
	}
	.jumbotext {
		text-align: center;
	}
	.jumbotron img {
		display: none;
	}

	/* Info */
	.info {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.info .shield {
		display: none;
	}
	.info .writeup h2 {
		font-size: 1.4em;
		text-align: center;
	}
	.info .writeup p {
		font-size: .85em;
		margin-bottom: 1em;
	}
	.seperator {
		margin-top: .75em;
		padding-top: .75em;
	}
	.second-info {
		margin-top: .8em;
	}
	.second-info img {
		margin-bottom: .4em;
		width: 10%;
	}

	/* Offers */
	.offers {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	.offers .table {
		margin-top: 1.25em;
	}

	/* Features */
	.features {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	.features img {
		display: block;
		margin: 0 auto;
		width: 10%;
	}
	.features h2, .features h3, .features p {
		text-align: center;
	}
	.features a {
		font-size: .5em;
		padding-right: .5em;
		padding-left: .5em;
		font-size: .7em;
		display: block;
	}

	/* Footer */
	footer {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	footer .button {
		font-size: .75em;
	}
	footer section {
		padding-left: 0;
		padding-right: 0;
		margin-top: 1.7em;
		padding-top: 1.7em;
	}
	footer li {
		margin-right: 0;
	}
	footer .links, footer p, footer h3 {
		width: 100%;
		text-align: center;
	}
}