body {
	font-family: 'Noto Sans', sans-serif;
}

.header {
	background-color: #131313;
	font-size: .85em;
}
.logo, .nav a {
	padding-top: 1em;
	padding-bottom: .2em;
}
.auth {
	text-align: right;
}
.header a {
	text-decoration: none;
	color: #fdfdfde6;
	display: inline-block;
	letter-spacing: 0.05em;
}
.nav a {
	padding: 1.5em 1.7em;
}
.nav a:hover, .nav a.current {
	background-color: #121429;
	color: #009ada;
}
.auth a {
	border: 1px solid #fff;
	border-radius: 20px;
	width: 6em;
	font-weight: bold;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	padding: .8em 1.2em;
	margin-top: 1.2em;
	margin-right: .8em;
	color: #fff;
}
.auth a:last-of-type {
	margin-right: 0;
	background-color: #009ada;
	border-color: #009ada;
	color: #000;
}
.auth a:hover {
	background-color: #fff;
	color: #000;
}
.auth a:last-of-type:hover {
	background-color: #1EAEDB;
	border-color: #1EAEDB;
	color: #fff;
}

.jumbotron {
	height: 450px;
	background-color: #121429;
	color: #fff;
}
.jumbotext p {
	font-size: 1.45em;
	word-spacing: .1em;
	line-height: 1.8;
	margin-top: 3.5em;
}
.jumbotext .button {
	color: #000;
	background-color: #009ada;
	border-color: #009ada;
	border-radius: 20px;
}
.jumbotron img {
	width: 85%;
	display: inline-block;
	padding-top: 2em;
	padding-left: 5em;
}