body {
	font-family: 'Noto Sans', sans-serif;
}

p {
	line-height: 1.8;
}

.header {
	background-color: #131313;
	font-size: .85em;
}
.logo, .nav a {
	padding-top: 1em;
	padding-bottom: .2em;
}
.auth {
	text-align: right;
}
.header a {
	text-decoration: none;
	color: #fdfdfde6;
	display: inline-block;
	letter-spacing: 0.05em;
}
.nav a {
	padding: 1.5em 1.7em;
}
.nav a:hover, .nav a.current {
	background-color: #121429;
	color: #009ada;
}
.auth a {
	border: 1px solid #fff;
	border-radius: 20px;
	width: 6em;
	font-weight: bold;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	padding: .8em 1.2em;
	margin-top: 1.2em;
	margin-right: .8em;
	color: #fff;
}
.auth a:last-of-type {
	margin-right: 0;
	background-color: #009ada;
	border-color: #009ada;
	color: #000;
}
.auth a:hover {
	background-color: #fff;
	color: #000;
}
.auth a:last-of-type:hover {
	background-color: #1EAEDB;
	border-color: #1EAEDB;
	color: #fff;
}

.jumbotron {
	height: 450px;
	background-color: #121429;
	color: #fff;
}
.jumbotext p {
	font-size: 1.45em;
	word-spacing: .1em;
	margin-top: 3.5em;
}
.jumbotext .button {
	color: #000;
	background-color: #009ada;
	border-color: #009ada;
	border-radius: 20px;
}
.jumbotron img {
	width: 85%;
	display: inline-block;
	padding-top: 2em;
	padding-left: 5em;
}

/* Info */
.info {
	padding-top: 3em;
	padding-bottom: 3em;
}
.info .shield img {
	width: 75%;
}
.info .writeup h2 {
	font-size: 1.8em;
	font-weight: bold;
	color: #009ada;
}

.seperator {
	font-size: 1.15em;
	margin-top: 2.5em;
	border-top: 1px solid #009ada78;
	padding-top: 2.5em;
}
.seperator p {
	margin: 0;
}

.second-info {
	margin-top: 1.6em;
}
.second-info img {
	margin-bottom: .8em;
}
.second-info h3 {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: .5em;
}
.second-info p {
	font-size: .85em;
}

.create-account {
	border-left: 4px solid red;
	padding-left: .5em;
}
.create-account a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: .9em;
}

/* Features */
.features {
	background-color: #121429;
	color: #fff;
	padding-top: 3em;
	padding-bottom: 3em;
}
.features h2 {
	font-size: 1.2em;
	letter-spacing: .01em;
	margin-bottom: 1.8em;
}
.features img {
	width: 15%;
}
.features h3 {
	font-size: 1.1em;
	letter-spacing: .03em;
	color: #ffa883;
	margin-top: 1em;
}
.features p {
	font-size: .85em;
	letter-spacing: .04em;
}
.features .button {
	color: #000;
	background-color: #009ada;
	border-color: #009ada;
	border-radius: 20px;
}